body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #e8f5e9, #f5f7fa);
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #2e7d32;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #1b5e20;
}